.research h3{
    font-family: "Saira",Arial,Helvetica,sans-serif;
    margin-bottom: 15px;
    font-weight: 600;
    color: #033b4a;
}

.research p{
    font-family: "Ubuntu",sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #9dabaf;
}
.research a{
    font-family: "Ubuntu",sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #033b4a;
    text-decoration: none;
    transition: .5s ease-in-out;

}
.research a:hover{
    color: #01d6a3;
}
.research span{
    width: 30px;
    width: 30px;
    background-color:#9dabaf ;
    border-radius: 100px;
    padding: 10px 10px;
}